.main-container {
    height:100vh;
    
    
    .category-container{
        height: 100vh;    
    }
    .projects-container{
        height: 150vh;
    }
}

// @media screen and (max-width: 900px) {

// }