@import './variables';
@import './navigation';
@import './terminal';
@import './home';
@import './main';

// @import './masonry-post';
// @import './post-masonry';
// @import './tag-row';
// @import './post-grid';
// @import './post';
// @import './post-editor';

html, body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 100%;
}

body{
    margin: 0;
}